* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1320px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}
.btn-primary {
  padding: 12px 20px;
  background-color: orange;
  border: 0;
  border-radius: 10px;
  transition: 0.5s;
}

/* sheared styles */
.banner {
  height: 600px;
  color: azure;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner h1 {
  font-size: 50px;
}
.header {
  background-image: linear-gradient(
      to left,
      rgba(96, 97, 105, 0.52),
      rgba(65, 59, 63, 0.73)
    ),
    url("../images/Banner\ Image.png");
  background-repeat: no-repeat;
}

/* gets off section */
.get-off {
  text-align: center;
}
.get-off h2 {
  color: rgb(240, 16, 16);
  font-size: 52px;
  margin-bottom: 30px;
}
.get-off p {
  color: red;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.get-off h4 {
  text-transform: uppercase;
  color: black;
  font-size: 50px;
  margin-bottom: 50px;
}
.get-off-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* mid night party section */
.second-banner {
  background-image: linear-gradient(
      to left,
      rgba(96, 97, 105, 0.52),
      rgba(65, 59, 63, 0.73)
    ),
    url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  height: 600px;
  margin-top: 50px;
  width: full;
  margin-bottom: 100px;
}
.mid-night-party {
}
.mid-night-party h2 {
  font-size: 50px;
  letter-spacing: 5px;
  padding-top: 100px;
}
.mid-night-party p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mid-night-party {
  width: 80%;
  color: white;
  margin: auto;
}
.btn-primary:hover {
  background-color: aquamarine;
}
/* details section styles */
#details {
  margin-bottom: 20px;
}
.details-scetion {
  color: red;
  height: 300px;
  border-radius: 20px;
  line-height: -10px;
  padding-top: 100px;
  background-color: pink;
  margin-bottom: 50px;
  text-align: center;
}
.details-scetion span {
  color: black;
}
/* best offer section */
.best-offer {
  margin-top: 90px;
  margin-bottom: 90px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
.best-offer h1,
h3 {
  text-transform: uppercase;
}
.heading {
  color: red;
}
.border_redius_style {
  height: 400px;
  width: 400px;
  border: 10px solid red;
  border-radius: 50%;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* holidays section */
.holidays-sales {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
}
span {
  color: red;
}
.holidays-sales h1 {
  font-size: 50px;
}
.img1 {
  float: right;
}
.discount_offer {
  position: relative;
}
.offer_img {
  position: absolute;
  right: 300px;
  top: 100px;
}
.bonuse_img {
  position: absolute;
  top: 0;
}
/* awsome portfolio section styles*/
.awsome-portfolio {
  margin-top: 50px;
}
.awsome-portfolio .portfolio-heading {
  text-transform: uppercase;
  color: red;
  font-size: 25px;
}
.portfolio-title {
  text-transform: capitalize;
  font-size: 50px;
}
.portfolio-description {
  margin-bottom: 20px;
}
.portfolio-img img {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.portfolio-img img:hover {
  opacity: 0.5;
}
/* newslatter section styles */
.newslatter_part {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  background-color: hotpink;
  padding: 50px;
  border-radius: 20px;
  margin-bottom: 100px;
}
#input {
  padding: 10px;
  border-radius: 50px;
  border: 0;
  width: 200px;
}
button {
  padding: 9px;
  border-radius: 50px;
  border: 0;
  background-color: red;
  color: white;
}
/* footer section styles */
.footer {
  width: 100%;
  height: 400px;
  background-color: black;
}
.footer_left_part {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  color: white;
  padding-top: 50px;
  width: 80%;
  margin: 0 auto;
}
.footer_middel_part {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  border-top: 1px solid gray;
  padding-top: 40px;
  border-bottom: 1px solid gray;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.footer_last_part {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
