* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1320px;
  margin: 0 auto;
}
.btn-primary {
  padding: 12px 20px;
  background-color: orange;
  border: 0;
  border-radius: 10px;
  color: ;
}

/* sheared styles */
.banner {
  height: 600px;
  color: azure;
}

.header {
  background-image: linear-gradient(
      to left,
      rgba(96, 97, 105, 0.52),
      rgba(65, 59, 63, 0.73)
    ),
    url("../images/Banner\ Image.png");
  background-repeat: no-repeat;
}
.banner-title {
  display: flex;
  justify-content: center;
}

/* gets off section */
.get-off {
  text-align: center;
}
.get-off h2 {
  color: rgb(240, 16, 16);
  font-size: 52px;
  margin-bottom: 30px;
}
.get-off p {
  color: red;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.get-off h4 {
  text-transform: uppercase;
  color: black;
  font-size: 50px;
  margin-bottom: 50px;
}
.get-off-img {
  display: flex;
  align-items: center;
}
/* mid night party section */
.second-banner {
  background-image: linear-gradient(
      to left,
      rgba(96, 97, 105, 0.52),
      rgba(65, 59, 63, 0.73)
    ),
    url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  height: 600px;
  margin-top: 50px;
  width: full;
  margin-bottom: 200px;
}
.mid-night-party {
  color: white;
}
.mid-night-party h2 {
  font-size: 50px;
  letter-spacing: 5px;
  padding-top: 100px;
}
.mid-night-party p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mid-night-party {
  width: 80%;
}

.btn-primary:hover {
  background-color: aquamarine;
}
